.icon {
    height: 24px;
    width: 24px;
    border-radius: 50%;
}
#profile-photo {
    width: 380px;
    height: 420px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0F363D;
}

header {
    color: #D7EAE4;
    text-align: center;
    padding: 2rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    .header-name-div {
        margin-left: 1rem;
        display: flex;
        align-items: center;
        span {
            text-align: start;
        }
        img{
            height: 32px;
            width: 32px;
        }
    }
    .header-cv-div {
        margin-right: 1rem;
    }
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #D7EAE4;
    text-decoration: none;
}

nav ul li a:hover {
    color: #DAA49C;
}

.section {
    padding: 50px;
}

h1, h2 {
    text-align: center;
}

p {
    text-align: center;
    color: #555;
}

#home, #experience, #education, #projects, #skills {
    color: white;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}
.home-content {
    display: flex;
    flex-direction: column;
    color: #D7EAE4;
    gap: 2rem;
    width: 50%;
    .left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .name{
            color: white;
            text-align: start;
            font-family: Sans-serif;
            font-size: 84px;
            font-weight: 200;
            text-transform: capitalize;
            font-style: italic;
            line-height: 86px;
            margin-block-end: 20px;
        }
    }
}

#home h1 {
    margin: 0;
    font-size: 2.5em;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.leftmost-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: fixed;
    left: 0;
    padding-left: 1rem;
}

.resume-button {
    width: 8rem;
    color: #DAA49C;
    text-decoration: underline;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}
.button-logo-container {
    overflow: auto;
    padding-top: 18rem;
    .logo {
        position: absolute;
        width: 180px;
        height: 180px;
        float: right;
        right: 6rem;
        
    }
    .logo:hover {
        animation: rotation 25s infinite linear;
    }
}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .active {
    font-weight: bold;
    color: #DAA49C;
  }

